@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
:root {
    --bg-color: "";
    --main-color: #5d3ae6;
    --second-color: #8365fa;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
*:not(i) {
    font-family: 'Montserrat';
}
body {
    width: 100%;
    height: 100vh;
    background: center / cover url(../assets/bg/mountain-background.jpg) no-repeat;
    overflow: hidden;
}
a {
    text-decoration: none;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
